@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*==========Reset CSS==========*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*==========Root==========*/
:root {
    --header-height: 3.5rem;
  
    --first-color: hsl(79, 72%, 55%);
    --first-color-light: hsl(79, 97%, 77%);
    --first-color-alt: hsl(79, 67%, 52%);
    --first-color-dark: hsl(79, 63%, 50%);
    --first-color-gray: hsl(79, 6%, 64%);
    --title-color: hsl(180, 4%, 98%);
    --title-color-black: hsl(180, 4%, 12%);
    --text-color: hsl(180, 4%, 72%);
    --text-color-light: hsl(180, 4%, 65%);
    --body-color: hsl(180, 12%, 8%);
    --transparent-color: #ffffff00;

    --le-color1: #055779;
    --le-color2: #0D9198;
    --le-color3: #E0D719;
    --bg-color: linear-gradient(35deg,#474A51 1%,#1f2127 50%,#1f2127 70%,#1f2127 70%,#474A51 100%);

    --body-font: 'Poppins', sans-serif;
    --second-font: 'Kaushan Script', cursive;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-bold: 700;
    --font-black: 900;
 
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*==========Responsive==========*/
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 6rem;
      --bigger-font-size: 3.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

/*==========Base==========*/
html {
    scroll-behavior: smooth;
}
body {
    background-image: var(--bg-color);
    height: 100vh;
}
body, button, input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.section {
    padding: 4.5rem 0 2rem;
}
.section__data {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    text-align: center;
    margin-bottom: 3rem;
}
.section__title, .section__title-border {
    font-size: var(--big-font-size);
    letter-spacing: 1.5px;
}
.section__subtitle {
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--first-color);
    transform: rotate(-2deg);
}
.section__titles {
    display: flex;
    column-gap: .75rem;
    justify-content: center;
}
.section__title-border {
    -webkit-text-stroke: 1px var(--text-color);
    color: var(--transparent-color);
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.main {
    overflow: hidden;
}

/*==========Header==========*/
.header {
    width: 100%;
    background: var(--transparent-color);
    position: fixed;
    top: 0;
    left: 0;
    transition: background .3s;
    z-index: var(--z-fixed);
}
.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.nav__logo, .nav__toggle {
    color: var(--title-color);
    display: flex;
}
.nav__logo {
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-bold);
}
.nav__logo img {
    width: 3.5rem;
}
.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .nav__menu {
        position: fixed;
        background: inset -30px 30px 30px #010c15, inset -1px 5px 30px #2195f338;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(32px);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        transition: right .3s;
    }
}

.nav__list {
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.nav__link {
    color: var(--title-color);
    transition: color .3s;
    font-size: 1.1rem;
}
.nav__link:hover {
    color: var(--le-color2);
}
.nav__close {
    color: var(--title-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav__social i {
    color: var(--le-color2);
    font-size: 1.4rem;
    margin-right: 30px;
    transition: all .3s ease;
}
.nav__social i:hover {
    color: var(--le-color1);
}

/*==========JavaScript==========*/
.show-menu {
    right: 0;
}